{% extends "base.html" %}

{% block content %}
    
<div class="container-employer" >
    <div class="row search-row">
        <div class="col-md-12">

            <h5>Account</h5>

            <br>
            <div class="row">
                <div class="col" style="padding: 1rem;">
                    <div class="row">
                        <div class="col">
                            <h6>Invoice</h6>
                        </div>
                        <div class="col">
                            <p style="text-align: right;">
                                <a href="/company/export_invoice" class="add-btn">Export Invoice</a>
                            </p>
                        </div>
                    </div>
                    <!-- INVOICE HISTORY -->
                    <!-- table -->
                    <table class="table table-hover" style="width: 100%;">
                        <thead>
                          <tr>
                            <th scope="col">Month</th>
                            <th scope="col"> Software Runs</th>
                            <th scope="col">Members Trained</th>
                            <th scope="col">Invoice</th>
                            <th scope="col">Status</th>
                         </tr>
                        </thead>
                        <tbody>
                          {% for invoice in invoices %}
                            <tr>
                                <td scope="row">{{invoice['month']}}</td>
                                <td>{{invoice['custom_software_runs']}}</td>
                                <td>{{invoice['members_trained']}}</td>
                                <td>{{invoice['invoice']}}</td>
                                <td>{{invoice['status']}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                </div>
                <div class="col editAccount" style="padding: 1rem;">
                    <div>
                        <form method="post" action="/company/update_email">
                            <h6>Update Email</h6>
                            <div class="mb-3">
                              <label for="inputEmail" class="form-label">Email address</label>
                              <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" value="{{email}}" required>
                            </div>
                             <button type="submit" class="btn btn-success">Update</button>
                        </form>
                        <br>
                        <form method="post" action="/company/update_password">
                            <h6>Update Password</h6>
                            <div class="mb-3">
                              <label for="curPassword" class="form-label">Current Password</label>
                              <input type="password" name="cur_password" class="form-control" id="curPassword" required>
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">New Password</label>
                                <input type="password" name="new_password" class="form-control" id="newPassword" minlength="6" required>
                              </div>
                           
                            <button type="submit" class="btn btn-success">Update</button>
                        </form>
                        <br>
                        <form method="post" action="/company/update_company_name">
                            <h6>Update Company Name</h6>
                            <div class="mb-3">
                              <label for="company_name" class="form-label">Company Name </label>
                              <input type="text" name="company_name" class="form-control" id="company_name" aria-describedby="companyName" value="{{company_name}}" required>
                            </div>
                             <button type="submit" class="btn btn-success">Update</button>
                        </form>
                    </div>
                </div>

                <!-- PAYMENT METHODS -->
            </div>

        </div>
    </div>

</div>
    

{% endblock %} 