{% extends "base.html" %}

{% block content %}

<script>

  // if keyword is not a substring of card-train title or description, hide the card

  function searchModules() {
    console.log('searching')
    var searchInput = document.getElementById('search-module');
    var cards = document.getElementsByClassName('checkCard');
    for (var i = 0; i < cards.length; i++) {
      // get text in label
      var title = cards[i].getElementsByClassName('card-train-low-hover')[0].innerText;
      if (title.toLowerCase().indexOf(searchInput.value.toLowerCase()) < 0) {
        cards[i].style.display = 'none';
      } else {
        cards[i].style.display = 'block';
      }
    }
  }
</script>

<div class="container-employer-85" >
    <div class="row search-row">
        <div class="col-md-12">
            <div class="row">
                <div class="col">
                    <h5>{{tool['tool_name']}}</h5>
                </div>
                <div class="col">
                    <form action="{{url_for('add_module_redirect', tool_id=tool['tool_id'], role_id=role_id)}}" method="POST">
                      <button type="submit" class="btn btn-success" style="float:right">
                        Add Module
                      </button>
                    </form>
                </div>
            </div>
            <div class="row g-2 inputs">
                <div class="col-md">
                    <div class="mb-3">
                      <form action="/company/add_modules" method="POST">
                        <input type="text" name="keyword" class="form-control search-inputs" id="search-module" placeholder="Search" value="{{keyword}}">
                      </form>
                    </div>
                </div>
            </div>
          <form action="/company/add_modules" method="post">
            <div class="row">
              <div class="col-md-10">
                <p class="label">Select From Module Library (Select All That Apply)</p>
              </div>
              <div class="col-md-2">
                <p style="text-align: right;">
                  <button href="/company/roles" class="btn btn-success">Continue</button>
                </p>
              </div>

              {% if added_modules|length != 0 %}
              <label>Added Modules</label>
              <div class="card-group">
              {% for module in added_modules %}
                <div class="checkCard">
                  <button class="card-train-low-hover-added" for="btn-{{module['id']}}" style="">
                    {{module['name']}} <br> {{module['description']}}
                    </button>
                  <a type="submit" class="btn btn-outline-success" style="margin-left:1rem;margin-bottom:1rem"
                  href="/company/test_module/start/{{module['id']}}/{{role_id}}/{{tool['tool_id']}}"
                    >Test Module</a>
                  </div>
                
                {% endfor %}
              </div>
              {% endif %}

            <label>Your Modules</label>

            {% if private_modules|length == 0 %}
              <br>
              <div class="alert alert-warning" role="alert">
                  No modules found. Please add one above
              </div>
            {% endif %}
            
              <input type="hidden" name="role_id" value="{{role_id}}">
              <input type="hidden" name="tool_id" value="{{tool['tool_id']}}">
              <div class="card-group">
                {% for module in private_modules %}
                <div class="checkCard">
                  <button class="card-train-low-hover" for="btn-{{module['id']}}" style="">
                    {{module['name']}} <br> {{module['description']}}
                  </button>
                  <a type="submit" class="btn btn-outline-success" style="margin-left:1rem;margin-bottom:1rem"
                  href="/company/test_module/start/{{module['id']}}/{{role_id}}/{{tool['tool_id']}}"
                    >Test Module</a>
                  </div>
                
                {% endfor %}
              </div>

              <label>Recommended</label>
              {% if public_modules|length == 0 %}
                <div class="alert alert-warning" role="alert">
                    No modules found 
                </div>
              {% endif %}
              <div class="card-group">
                {% for module in public_modules %}
                <div class="checkCard">
                  <button class="card-train-low-hover" for="btn-{{module['id']}}" style="">
                  {{module['name']}} <br> {{module['description']}}
                  </button>
                    <a type="submit" class="btn btn-outline-success" style="margin-left:1rem;margin-bottom:1rem"
                    href="/company/test_module/start/{{module['id']}}/{{role_id}}/{{tool['tool_id']}}"
                    >Test Module</a>
                </div>
                {% endfor %}
              </div>

            </form>
        </div>
    </div>
</div>

            
{% endblock %} 