{% extends "base.html" %}

{% block content %}
    
<div class="container-employer-85" >
    <div class="row search-row">
        <div class="col-md-12">
            <div class="row">
                <div class="col">
                    <h5>New Role</h5>
                </div>
                <div class="col">
                    <p style="text-align: right;">
                    </p>
                </div>
            </div>
            <br>
            <form action="/company/add_role" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="role_name" id="roleName" placeholder="Dispatch">
                    <label for="roleName">Role Name</label>
                  </div>
                  <p class="label">In a few sentences, describe the role and its responsibilites</p>
                  <div class="form">
                    <textarea type="text" name="role_description" class="form-control" id="roleDesc" placeholder="Description"> </textarea>
                  </div>
                    <br>
                  <p class="label">What Modules Do You Wish to Include? (Select All That Apply)</p>
                  <div class="card-group">
                    {% for module in modules %}
                    {% if module['status'] == 'active' %}
                    <input name="{{module['id']}}" type="checkbox" class="btn-check" id="btn-{{module['id']}}" autocomplete="off">
                    <label class="btn btn-outline-success card-train" for="btn-{{module['id']}}">
                        <ion-icon class="train-icon" name="{{module['icon']}}"></ion-icon>
                        <p class="">{{module['name']}}</p>
                    </label>
                    
                    {% else %}
                    <input type="checkbox" class="btn-check" id="btn-{{module['id']}}" autocomplete="off" disabled>
                    <label class="btn btn-outline-success card-train" for="btn-{{module['id']}}">
                        <ion-icon class="train-icon" name="{{module['icon']}}"></ion-icon>
                        <p class="">{{module['name']}} <br> Coming Soon</p>
                        
                    </label>
                    {% endif %}
                    {% endfor %}
                </div>
                <p style="text-align: right;">
                    <button class="btn btn-success">Next</button>
                </p>
                
            </form>
        </div>
    </div>
            
{% endblock %} 