{% extends "base.html" %}

{% block content %}
    
<div class="container-employer-85" >
    <div class="row search-row">
        <div class="col-md-12">

            <div class="row">
                <div class="col">
                    <h5>Add Software Emulator Module</h5>
                </div>
                <div class="col">
                    <p style="text-align: right;">
                        
                    </p>
                </div>
            </div>
            <br>
            <form action="/company/add_module/software" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="website_name" id="website-name" placeholder="Owlo" required>
                    <label for="website-name">Website Name </label>
                </div>
                <br>

                <p class="label">Generate Using Website URL</p>
                <div class="form-floating mb-3">
                    <input type="url" class="form-control" name="url" id="url" placeholder="https://owlo.co" required>
                    <label for="url">URL </label>
                </div>
                <br>

                <!-- file upload -->
                <div class="mb-3">
                    <p class="label">Generate Using Screen Recording</p>
                    <input class="form-control" type="file" id="formFile" name="formFile">
                </div>
                <br>
                <!-- Text area -->

                <p class="label">In a few sentences, describe the website and what it does</p>
                <div class="form">
                    <textarea type="text" id="website_description" name="website_description" class="form-control" id="roleDesc" placeholder="Description" required></textarea>
                </div>
                <br>
                 
                  
                </div>
                <p style="text-align: right;">
                <button class="btn btn-success" >Create</button>
                </p>
                
            </form>

            
{% endblock %} 