{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    // every 3 seconds generate a number between 1-10

    //  redirect to /processSoftware/element/<parse_id> on pageload
    
    // onload submit form with id submitForm onload
    window.onload = function() {
        document.getElementById("submitForm").submit();
    };
    

</script>

<!-- form submit get to processSoftwareElement with parse_id as parameter -->
<form id="submitForm" action="{{ url_for('processSoftwareElement', parse_id=parse_id, role_id=role_id)}}" method="GET"></form>
    
<div class="container-employer-85" >
    <div class="row search-row">
        <div class="col-md-12">
            <div class="loading"> 
                <div class="d-flex justify-content-center">
                    <div class="spinner-grow" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center" style="text-align: center;">
                    <label>This may take a few minutes <br> Please keep this window open </label>
                </div>
            </div>


            </div>
        </div>
    </div>
</div>  

{% endblock %} 