{% extends "base.html" %}

{% block content %}
    
<div class="container-employer" >
    <div class="row search-row">
        <div class="col-md-12">

            <h5>Team</h5>

            <!-- Search Bar -->
            <form method="get" action="/company/team">
                <div class="row g-2 inputs">
                    <div class="col-md">
                        <div class="mb-3">
                            <input type="text" name="keyword" class="form-control search-inputs" id="search-module" placeholder="Search" value="{{keyword}}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select search-inputs" name="filter" id="filter" aria-label="Filter" onchange="this.form.submit()">
                            <option value=""{{"selected" if filter == ''}}>Filter</option>
                            <option value="completed" {{"selected" if filter == 'completed'}}>Completed</option>
                            <option value="incomplete" {{"selected" if filter == 'incomplete'}}>Incomplete</option>
                            <option value="pending" {{"selected" if filter == 'pending'}}>Pending</option>
                        </select>
                    </div>
                </div>
            </form>

            <!-- Team Table -->
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" style="width:5rem">ID</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="invisible">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <form action="/company/assign_employee" method="post">
                        <td> <input type="text" class="form-control team-input" name="id_input" id="member-id" placeholder="ID"></td>
                        <td> <input type="text" class="form-control team-input" name="first_name" id="first-name" placeholder="First" required></td>
                        <td> <input type="text" class="form-control team-input" name="last_name" id="last-name" placeholder="Last" required></td>
                        <td> <input type="email" class="form-control team-input" name="email" id="email" placeholder="Email" required></td>
                        <td><span class="type"> 
                            
                            <select class="form-select search-inputs" name="role_id" id="role_id" aria-label="Filter" required>
                                {% for role in roles %}
                                    <option value="{{role['role_id']}}">{{role['role_name']}}</option>
                                {% endfor %}
                                <!-- <option value="dispatch">Dispatch</option>
                                <option value="driver">Driver</option> -->
                             </select>
                        
                        </span></td>

                        <td><span class="type"> 
                            
                            <select class="form-select search-inputs" name="employment_type" id="employment_type" aria-label="Filter" required>
                                <option value="employee">Employee</option>
                                <option value="contractor">Contractor</option>
                             </select>
                        
                        </span></td>
                        <td colspan="2">
                            <button type="submit" class="btn btn-success">Add Member</a>
                        </td>
                        </form>
                    </tr>
                  {% if members|length == 0 %}
                    <tr>
                        <td colspan="8">No members found</td>
                    </tr>
                  {% endif %}
                  {% for member in members %}
                    <tr>
                        <td scope="row">{{member['id']}}</td>
                        <td>{{member['first_name']}}</td>
                        <td>{{member['last_name']}}</td>
                        <td >{{member['email']}}</td>
                        <td >{{member['role']}}</td>
                        <td><span class="type-{{member['employment_type']|lower}}"> {{member['employment_type']}} </span></td>
                        <td><span class="status-{{member['status']|lower}}"> {{member['status']}} </span></td>
                        <td>
                        <div class="btn-group dropend">
                            <button type="button" class="btn-clear" data-bs-toggle="dropdown" aria-expanded="false">
                                <ion-icon class="action-btn" name="settings-outline"></ion-icon>
                            </button>
                            <ul class="dropdown-menu">
                              <!-- Dropdown menu links -->
                                <li><a class="dropdown-item" href="/company/team/{{member['id']}}">View</a></li>
                                <li><a class="dropdown-item" href="/company/team/{{member['id']}}/edit">Remind</a></li>
                                <li><a class="dropdown-item" href="/company/team/{{member['id']}}/edit">Unassign</a></li>
                            </ul>
                        </div>

                        <!-- <a href="/member/{{member['id']}}" class="txt-dec"></a> -->
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>

            <br>

        </div>
    </div>

</div>
    

{% endblock %} 