{% extends "base.html" %}

{% block content %}
    
<div class="container-employer-85" >
    <div class="row search-row">
        <div class="col-md-12">
            <div class="row">
                <div class="col">
                    <h4>{{role['role_name']}}</h4>
                    <p>{{role['role_description']}}</p>
                </div>
            </div>
            <div>
                <p class="label">Analytics</p>

            
            </div>
        </div> 

            
{% endblock %} 