{% extends 'base.html' %}
{% block content %}

<html>
<script>
    // if window is resized, console log the new width and height
    var adjusted_size = {{size['width']}}
    const og_size = 960
    var adjustment_factor = adjusted_size/og_size
    var element_dict = {{element_size_dict|tojson}}
    var img_width = {{size['width']}}
    // onload resize
    window.onload = function() {
        resize()
        status = {{status_ratio}}
        if (status == 1) {
            const jsConfetti = new JSConfetti()
            jsConfetti.addConfetti({
            confettiColors: [
                '#70ABAF', '#ebeef7'
            ],
        })
        }
    }
    window.addEventListener('resize', function(event){
        resize()

    });

    function resize() {
        var screenshots = document.getElementsByClassName('screenshot')
        var screenshot = screenshots[0]
        adjusted_size = screenshot.clientWidth
        console.log(adjusted_size)
        adjustment_factor = adjusted_size/og_size
        console.log(adjustment_factor)
        
        for (var id in element_dict) {
            var element_val = element_dict[id]
            var element = document.getElementById(id)
            console.log(element_val)
            element.style.fontSize = 16 * adjustment_factor + 'px'
            element.style.left = element_val['x'] * adjustment_factor + 'px'
            element.style.top = element_val['y'] * adjustment_factor + 'px'
            element.style.width = element_val['width'] * adjustment_factor + 'px'
            element.style.height = element_val['height'] * adjustment_factor + 'px'
        }

    }
</script>
    <div class="row container-main" style="display:flex;position: relative;" id="my-canvas">
        <div class="col-1 progress-num">
            {% for i in range(1,training|length + 1) %}
            {% if training[i-1]['training_status'] == 'completed' %}
            <div class="compliance-progress-complete">{{i}}</div>
            {% elif training[i-1]['training_status'] == 'pending' %}
            <div class="compliance-progress-pending">{{i}}</div>
            {% endif %}

            {% endfor %}
        </div>
    <!-- <div class="col-md-2 screenshot-col">
        <label class="label">Progress</label>
        {% for train in training %}
            <div class="module-box module-box-{{train['training_status']}}">
                {{train['context']}}
            </div>
        {% endfor %}
    </div> -->
    <div class="col-md-7 screenshot-col">
            {% for image in images %}
            <img src="https://s3.us-west-1.wasabisys.com/owlo/{{image['screenshot_name']}}" 
            class="screenshot"
            style="
            z-index:{{image['img_counter'] * -1}};"
            id="{{image['screenshot_name']}}">
            {% endfor %}
        
            {% if display_next == False %}
            <form action="/member/training/software/{{training_id}}/{{team_id}}/{{time_token}}" method="post" autocomplete="off">
                    {% for input in form['input'] %}
                        <input placeholder=" "
                        type = "{{input['type']}}"
                        value="{{input['value'] or ''}}"
                        name="{{input['id']}}"
                        id = "{{input['id']}}"
                        class="screenshot-input"
                        style="
                        top: {{input['y']}}px;
                        left: {{input['x']}}px;
                        height: {{input['height']}}px;
                        width: {{input['width']}}px;"
                        autocomplete="new-password"
                        required
                        >
                    {% endfor %}
                    {% for button in form['button'] %}
                        <input
                        type="submit"
                        id="{{button['id']}}"
                        class="screenshot-button"
                        style="
                        top: {{button['y']}}px;
                        left: {{button['x']}}px;
                        height: {{button['height']}}px;
                        width: {{button['width']}}px;">     
                    {% endfor %}
            </form>
            {% endif %}
    </div>
    <div class="col-3" style="z-index:10;position:relative;height:60vh">
        <!-- Context -->
        <div style="height: 50vh;overflow-y:scroll;overflow-x:hidden">
            <label class="label">Instructions</label>
            {% if status_ratio == 1 %}
                <br>
                <a type="button" class="btn btn-success" href="/member/onboard/{{team_id}}" style="margin-top:1rem">
                    Go to Next
                </a>
            {% elif display_next == True %}
            <form action="/member/training/software/{{training_id}}/{{team_id}}/{{time_token}}" method="post">
                <input type="submit" value="Next" class="btn btn-success btn-module">
            </form>
            {% else %}
                {% for input in form['input'] %}
                    <div >
                        <p class="context">Use <strong>"{{input['input_value']|lower}}" </strong> as input to {{input['context']}}</p>
                    </div>
                {% endfor %}

                {% for button in form['button'] %}
                    <p class="context"> Click <strong>{{'"' + button['button_text']|title + '"' if button['button_text']}}</strong> button to {{button['context']|lower}}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

</html>


{% endblock %}