/* media queries for phone */
@media only screen and (max-width: 700px) {
    .container {
        width: 90%;
        padding:0px;
        margin: 0 auto;
    }

    .mobile {
        display:block
    }
    /* .desktop {
        display:none;
    } */

    .hero-landing {
        margin-top:7rem;
    }

    .overview {
        text-align:center;
    }

    .footer {
        width: 100%;
    }

    .container-landing {
        width: 95%;
        margin: 0 auto;
    }

    .card-train-landing {
        border:1px solid #70ABAF;
        border-radius:3px;
        color:#686868;
        width: 16rem;
        fill:#686868;
        margin:1rem;
        display: flex;
        justify-content: center;
        padding:1rem;
        padding-top:1.5rem;
        text-align: center;
        min-height: 15rem;
    }
    
    .pb-2 {
        border-bottom: 1px solid rgb(216, 216, 216);
        padding-bottom:20px;
    }

    .card-train{
        width: 90%;
        margin: 0 auto;
        margin-bottom:2rem;
    }

    .menu-side {
        display: none;
    }

    .menu-popup {
        display: block;
    }

    .offcanvas {
        width: 25%;
    }

    .hero {
        padding:0px;
        width: 90%;
        margin: 0 auto;
    }

    .navbar {
        width: 90%;
    }

    .mobile-hero {
        display:none
    }

    .desktop {
        display: none;
    }
}